@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;
@LIGHT_GRAY: #F5F5F5;
@WHITE:      #FFFFFF;

.container {
  // background-image: url('/assets/img/blue-bg.jpg');
  background-size: cover;
  background-color: @LIME;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  color: @NAVY;

}

body{
    background-color: @LIME;
  }

input.ng-invalid, select.ng-invalid{
  background-color: @GRAY;
}

#container {
  position: relative;
  margin: 15px 15px 0 15px;
  background-color: @LIME; 
}

.container-fluid {
  position: relative;
  padding: 0;
  height: 100%;
}

.navbar > .container-fluid {
  position: relative;
  margin-top: 1em;
}

.navbar {
  margin: 0;
  background-color: @LIME;
}

#bs-navbar-collapse {
  margin-right: 15px;
  margin-left: 15px;
}
.container-fluid > .navbar-header {
  margin-left: 15px;
  font-weight: bold;
}

.navbar-brand {
  //font-size: 35px;
}

ul.navbar-right > li {
 // font-size: 20px;
}

.panel {
  color: @BLACK;
  background-color: @LIGHT_GRAY;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  color: @BLACK;
}

.white-wrapper h1, .white-wrapper h2, .white-wrapper h3, .white-wrapper h4, .white-wrapper h5, .white-wrapper h6 {
  color: @BLACK;
}

.white-wrapper {
  position: relative;
  color: @BLACK;
  background-color: @WHITE;
  height: 100%;
  width: 100%;
}

