style.
  h3{
    font-weight: bold;
    color: white;
    text-shadow: 1px 3px 1px #000;
  }
block content
  h3 My Projects

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-3
            .form-group
              label(for='sort') Sort
              select.form-control(name='sort', ng-model='sort')
                option(value='name') Name Ascending
                option(value='-name') Name Descending
                option(value='due') Due Ascending
                option(value='-due') Due Descending
          .col-xs-9

        .row
          .col-xs-12
            table.table.table-bordered
              thead
                tr
                  // th Complete?
                  th Name
                  th Due
                  // th Collaborator
              tbody
                // tr(ng-repeat='p in projects | orderBy:sort', ng-class='{complete:p.isComplete}')
                tr(ng-repeat='p in projects | orderBy:sort')
                  // td: input(type='checkbox', ng-model='p.isComplete')
                  td: a(href='/#/projects/{{p._id}}')  {{p.name}}
                  td {{p.due | date}}
                  // td {{p.collaborator.email}}

