h3 Projects Page!

.row
  .col-xs-9
    .panel.panel-default
      .panel-body
        .form-group
          label(for='sort') Sort
          select.form-control(name='sort', ng-model='sort')
            option(value='name') Name Ascending
            option(value='-name') Name Descending
            option(value='due') Due Ascending
            option(value='-due') Due Descending

        table.table.table-bordered
          thead
            tr
              // th Complete?
              th Name
              th Due
          tbody
            // tr(ng-repeat='p in projects | orderBy:sort', ng-class='{complete:p.isComplete}')
            tr(ng-repeat='p in projects | orderBy:sort')
              // td: input(type='checkbox', ng-model='p.isComplete')
              td: a(href='/#/projects/{{p._id}}')  {{p.name}}
              td {{p.due | date}}

