style.
  h3{
    font-weight: bold;
    color: white;
    text-shadow: 1px 3px 1px #000;
  }
style.
  h4{
    color: black;
  }
style.
  h5{
    color: black;
  }
block content
  h3 About Research Collaborator...
  .col-xs-8
    h4 This is a prototype application to support collaborative research through project tracking.
    h4 It was developed by JoAnn Brooks as a Capstone Project at the Nashville Software School, at the end of first half of Cohort 6 (October 2014).
    h4 Special features include:
      ul
        li: h5 MEAN architecture (Mongo, Express, Angular, Node)
        li: h5 File Upload (ng-file-upload plugin by Danial Farid)
        li: h5 Project-Centric Views (same for all collaborators)

    h4 Acknowledgements - The following individuals provided assistance during the development of this project:
    ul
      li: h5 Chyld Medford
      li: h5 Scott Humphries
      li: h5 Tyler Malone
      li: h5 Robert Fryman
      li: h5 Robert Paterno
      li: h5 Zoe Ames
      li: h5 Dave Boling
      li: h5 Brian Hiatt
      li: h5 Sarah Pearson
      li: h5 Joy Pratt
      li: h5 Nathan Vasquez
  .col-xs-4

